<!DOCTYPE html>
<html ng-app="App">
<head>
<title>Mastermind</title>
<link rel="stylesheet" type="text/css" href="css/style.css"></link>
</head>
<body ng-controller="gameController">


<div class="center-block text-center">
<div class="shield well">
	<h1>Mastermind</h1>
	<div ng-show="correct">
		You are correct</div>
	<div ng-show="lost">
		You have lost</div>
	<div ng-show="correct || lost">
		<button ng-click="init()">Play Again</button>
	</div>

	<div ng-repeat="g in instance.guess track by $index">
		<div ng-repeat="item in g.guess track by $index" ng-class="colorClass(item)"></div>
		<div ng-repeat="peg in g.result track by $index" ng-class="pegClass(peg)"></div>
	</div>


	<div ng-show="!correct && !lost">
		<div ng-repeat="i in [0,1,2,3]" ng-class="colorClass(curGuesses[i])" ng-click="toggle(curGuesses[i],i)" ng-model="curGuesses[i]"></div>
		<br />
		<button type="button" ng-click="makeGuess(curGuesses)">Guess</button>
	</div>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://cdn.jsdelivr.net/angular.bootstrap/0.11.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src="js/app.js"></script>
<script src="js/utilService.js"></script>
<script src="js/gameService.js"></script>
<script src="js/guessService.js"></script>
<script src="js/gameController.js"></script>
</body>
</html>
